<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
  <div class="container-scroller">
    <% include ./partials/header %>

    <div class="container-fluid page-body-wrapper">
        <% include ./partials/sidebar %>
      <!-- partial -->
      <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <h3>Create Todo</h3>
                      <% include ./partials/messages %>
                      <form action="/todos" method="POST">
                        <label for="">Todo title</label>
                        <input type="text" name="title" placeholder="Title" class="form-control" />
                        <button type="submit" class="btn btn-primary btn-sm mt-1">Create todo</button>
                      </form>
                      <hr>
                      <div>
                        <h3>List of todos</h3>
                        <ol>
                          <%
                            for(let i=0; data.length > i; i++) {
                              let todo = data[i];
                              %>
                              <li class="mb-2">
                                <input type="checkbox" <%= todo.is_completed ? 'checked' : '' %> /> <%= todo.title %>  || Created: <%= todo.created_at %>
                                <a class="btn btn-primary btn-sm" href="/todos/<%= todo._id %>">Edit</a>

                                <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST" style="display:inline">
                                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                              </li>
                            <% }
                          %>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
          <% include ./partials/footer %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="js/todolist.js"></script>
</body>

</html>

